{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
      <header class="masthead" style="background-image: url('https://source.unsplash.com/user/erondu/1600x900')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Add / Edit Post</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="sentMessage" id="contactForm" action = "/edit/{{post_id}}" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Post Title" id="title" name='title' required data-validation-required-message="Please enter your post title" value="{{post_data.title}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Post Slug</label>
                <input type="text" class="form-control" placeholder="Post Slug" id="post_slug" name="post_slug" required data-validation-required-message="Please enter the post slug." value="{{post_data.post_slug}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
           
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Post Content</label>
                <textarea rows="5" class="form-control" placeholder="Post Content" name = "post_content" id="post_content" required data-validation-required-message="Please enter post content." value="{{post_data.content}}">{{post_data.content}}</textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label>Posted By</label>
                  <input type="text" class="form-control" placeholder="Posted By" name="posted_by" id="posted_by" required data-validation-required-message="Please enter post author." value="{{post_data.posted_by}}">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            <br>
            <div id="success"></div>    
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Post Blog</button>
            </div>
          </form>
        </div>
      </div>
    </div>

   {% endblock %}